/*
=======================================================================================
    Config file for defining DSL2 per module options and publishing paths
=======================================================================================

    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
---------------------------------------------------------------------------------------
*/

process {

//    publishDir = [
//        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
//        mode: params.publish_dir_mode,
//        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTQC_ONTRIM' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/preprocessing/fastqc_trimmed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MASH_SCREEN {
        ext.args   = params.mash_winner ? '-w' : ''
        ext.prefix = { "${meta.id}_${query.baseName}" }
        publishDir = [
            path: { "$params.outdir/mash_contamination/screen" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: REPORT_MASH_SCREEN {
        publishDir = [
            path: { "$params.outdir/mash_contamination/screen/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: UNICYCLER {
        ext.args   = [
            params.conservative_assembly ? '--mode conservative'            : '',
            params.kmerSize_assembly     ? '--kmers ${params.kmer_size}'    : '',
            params.correct_assembly      ? ''                               : '--no_correct'
            ].join(' ').trim()
        publishDir = [
            path: { "$params.outdir/assembly/unicycler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: QUAST {
        publishDir = [
            path: { "${params.outdir}/assembly/unicycler/quast" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

     withName: BANDAGE_IMAGE {
        publishDir = [
            path: { "${params.outdir}/assembly/unicycler/bandage_image" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
    }

    withName: MULTIQC {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}

if (!params.skip_fastqc) {
    process {
        withName: '.*:.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_RAW' {
            ext.args = '--quiet'
            publishDir = [
                path: { "${params.outdir}/processing/fastqc/raw" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}
if (!params.skip_fastp) {
    process {
        withName: '.*:.*:FASTQ_TRIM_FASTP_FASTQC:FASTP' {
            ext.args = ''
            publishDir = [
                [
                    path: { "${params.outdir}/processing/fastp" },
                    mode: params.publish_dir_mode,
                    pattern: "*.fastp.fastq.gz",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ],
                [
                    path: { "${params.outdir}/processing/fastp/json_html" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{json,html}"
                ],
                [
                    path: { "${params.outdir}/processing/fastp/log" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { "${params.outdir}/fastp/failed" },
                    mode: params.publish_dir_mode,
                    pattern: "*.fail.fastq.gz",
                    enabled: params.save_trimmed_fail
                ]
            ]
        }
    }
    if (!params.skip_fastqc) {
        process {
            withName: '.*:.*:FASTQ_TRIM_FASTP_FASTQC:FASTQC_TRIM' {
                ext.args = '--quiet'
                publishDir = [
                    path: { "${params.outdir}/processing/fastqc/trim" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{json,html}",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}
